.chat {
    height: 200px;
    width: 400px;
    margin: 100px auto 0;
    background: url(img/chat_sprite.png) 0 0 no-repeat;
    -webkit-animation: walk 1s infinite steps(12);
    animation: walk 1s infinite steps(12);
}

@-webkit-keyframes walk{
    100% { background-position: 0 -2400px;}
}

@keyframes walk{
    100% { background-position: 0 -2400px;}
}